<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task-4.1.xsd">

    <!-- 需要导入的.xml文件 -->
    <import resource="spring-mybatis.xml"/>
    <import resource="spring-redis.xml"/>
    <import resource="spring-shiro.xml"/>


    <!--修改扫描包,修改人lxp 6/6 13:17-->
    <!-- 扫描包下面的所有的类是否受spring的管理，需要spring创建对象 -->
    <context:component-scan base-package="com.youtx.rent"/>


    <context:annotation-config/>
    <!-- 采取默认注解驱动 -->
    <mvc:annotation-driven/>
    <!-- 不拦截静态资源如css等 -->
    <mvc:default-servlet-handler/>

    <!-- 启动定时任务的配置 -->
    <task:annotation-driven/>
    <bean id="interfaceTask" class="com.youtx.rent.task.AutoTask"/>
    <task:scheduled-tasks>
        <task:scheduled ref="interfaceTask" method="autoTaskServiceRun" cron="0/30 * * * * ?"/>
    </task:scheduled-tasks>
    
    <!-- Freemarker配置 -->
    <bean id="freemarkerConfig"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/" />

        <property name="freemarkerVariables"><!--设置一些常用的全局变量-->
            <map>
                <entry key="webRoot" value="/rent"></entry>
                <entry key="jsRoot" value="js/"></entry>
                <entry key="imagesPath" value="http://120.79.225.238/images"></entry>
            </map>
        </property>

        <property name="freemarkerSettings">
            <props>
                <!--检查模板更新的时间间隔，默认5s-->
                <prop key="template_update_delay">0</prop>
                <prop key="default_encoding">UTF-8</prop>
                <prop key="number_format">0.##########</prop>
                <prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
                <prop key="classic_compatible">true</prop>
                <prop key="template_exception_handler">ignore</prop>
                <prop key="locale">zh_CN</prop>
                <prop key="object_wrapper">freemarker.ext.beans.BeansWrapper</prop>
            </props>
        </property>
    </bean>

    <!-- 配置freeMarker视图解析器 -->
    <bean id="viewResolverFtl" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.freemarker.FreeMarkerView"/>
        <property name="contentType" value="text/html; charset=UTF-8"/>
        <property name="requestContextAttribute" value="request" />
        <property name="cache" value="true" />

        <property name="suffix" value=".ftl" />
        <property name="order" value="0"/>
    </bean>
    <!-- name的取值必须要和web.xml中的filter的名称一致，因为过滤器代理是通过filter的名称查找spring容器中的代理对象-->
    <bean name="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <!--指定登录界面，按实际更改路径，如  /login.jsp  -->
        <property name="loginUrl" value="/user/los"/>

        <property name="filterChainDefinitions">
            <value>
                <!--anon不需要登录，注意路径-->
                 <!--/user/login=anon-->
                <!--/user/login=anon-->
                <!--/static/*=anon-->
                <!--/css5/*=anon-->
                <!--/dist/*=anon-->
                <!--/image/*=anon-->
                <!--/js/*=anon-->
                <!--/js5/*=anon-->
                <!--静态资源不拦截，注意路径-->
                 <!--/**=anon-->
                <!--/manage/*=authc-->
                <!--authc需要登录才能访问-->
                <!--user配合rememberMe使用有效，authc不能配合rememberMe使用-->
                 <!--/**=user-->
            </value>
        </property>

    </bean>
    <!-- DAO接口所在包名，Spring会自动查找其下的类 ,包下的类需要使用@MapperScan注解,否则容器注入会失败 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.youtx.rent.dao" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
    </bean>

    <!--multipartResolver配置上传文件 整合spring-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"></property>
        <property name="maxUploadSize" value="1024000"></property>
    </bean>
</beans>